<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-impresion-blte" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>impresion-blte</name><js-module name="impresion-blte" src="www/impresion-blte.js"><clobbers target="cordova.plugins.impresion-blte" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="impresion-blte"><param name="android-package" value="cordova-plugin-impresion-blte.impresion-blte" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/impresion-blte.java" target-dir="src/cordova-plugin-impresion-blte/impresion-blte" /></platform></plugin>