<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova_plugin_impresion_blte" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BLTE</name><js-module name="BLTE" src="www/BLTE.js"><clobbers target="cordova.plugins.BLTE" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="BLTE"><param name="android-package" value="cordova_plugin_impresion_blte.BLTE" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/BLTE.java" target-dir="src/cordova_plugin_impresion_blte/BLTE" /></platform></plugin>